/build

1.app size is not reduced after you done the changes also 25okb more it showing
2.activeRole
"WORKER"
(string)


address
"Enkoor, Telangana"
(string)



appliedJobs
(array)


0
"JOB_1771397661359_l6pyqsfqz"
(string)


area
""
(string)


city
"Enkoor"
(string)


completedAt
1773753212438
(number)


dateOfBirth
"14/02/2008"
(string)


email
""
(string)


experience
"Fresher (0-1 year)"
(string)


fcmToken
"czlkaZVKSCGr7pF0b9N_Qc:APA91bFeybLJZUxqYKNzzK_zdLZoNM4NwRZvfKMopDs48lbodB25LwfhlwCDWhL5f_lbaiNT2nzWA4fkITSskkVCOBCE7t8yWiPb4chs_eJAqssqs0CShpw"
(string)


fcmTokenMigratedAt
18 February 2026 at 13:42:03 UTC+5:30
(timestamp)


fcmTokenUpdatedAt
1773753652687
(number)


fullName
"Navaneeth"
(string)


gender
"Male"
(string)


latitude
17.3835541
(number)


locationUpdatedAt
1773753729006
(number)


longitude
80.3424855
(number)


phone
"7989313493"
(string)


profileCompleted
true
(boolean)


profileImageUpdatedAt
1773753381451
(number)


profileImageUrl
"https://firebasestorage.googleapis.com/v0/b/dutype-860ac.firebasestorage.app/o/profile_images%2FrgFKsfhNZHTSkYAgVeBdjY7Ql3o2%2Fprofile_1773753375908.jpg?alt=media&token=474caf38-2cce-4067-a782-0c46dc68c3c5"
(string)


referralCode
"EMPRGFKSF"
(string)



referralStats
(map)


availableBalance
0
(number)


canWithdraw
false
(boolean)


currentTier
"BRONZE"
(string)


expiredReferrals
0
(number)


freeJobPostings
0
(number)


lastUpdated
1773753214582
(number)


nextMilestone
5
(number)


pendingEarnings
0
(number)


pendingReferrals
0
(number)


rejectedReferrals
0
(number)


signupBonusAmount
0
(number)


signupBonusReceived
false
(boolean)


successfulReferrals
0
(number)


totalEarnings
0
(number)


totalReferrals
0
(number)


withdrawnAmount
0
(number)


role
"WORKER"
(string)



roles
(array)


0
"WORKER"
(string)


1
"EMPLOYER"
(string)



savedJobs
(array)


0
"JOB_1771396945771_6oxt5tfyz"
(string)


skills
"Cooking, Cleaning, Security"
(string)


state
"Telangana"
(string)


updatedAt
1773753381961
these many fields are showing in the user document after registration, please remove the duplicate fields and also remove the unwanted fields which are not required at the time of registration, please check and fix it as soon as possible

3.user not able to switch from worker to employer and employer to worker -from profile page, but the worker or employer who registered newly ,needs to  logout and registering as new role  only working not fromm the switch role button in profile page, please check the bug and fix it as soon as possible
4. referral code is not working for new user registration - new user is not getting the referral bonus amount in wallet and also referral stats is not updating for the referrer user
5. i tested with new registration with referral code , even the new registered user is completed the profile also the referral bonus not added to  the new user and also to the old user who is referred, and also if the new user is entering the code while registering -referrral code is validating but the amount is not getting added to both users please check the bug and fix it as soon as possible
6.in appp reviewfeature is not working properly after the worker applied for the first job  and employer after posting the first job, the review feature is not working properly, please check and fix the bug as soon as possible
7.check inapp update feature is not showing when im releasing the new version of the app, please check and fix the bug as soon as possible